/* When getting started, there are a few things that I like to do. First, the browser has some default styling, which made sense before, but now that we are doing more with css, we like to prevent theses default behaviors. This is what's called a CSS Reset.*/
html, body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}

hr {
    max-width: 75px;
    border-width: 3px;
    border-color: orangered;
}

/* these are at the top, just for organization. They are utility classes that do very small things, but can be used all throughout the application. */
.text-uppercase {
    text-transform: uppercase;
}

.btn-style {
    background-color: #f05f40;
    border-color: #f05f40;
    border-radius: 300px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem
}

/* Begin Navbar */
/*It's a good idea to use comments within your css to explain different behaviors, this becomes more important with larger css files. As a bare minimum, you should at least label the beginning & end of a group of styles.*/
#mainNav {
    width: 100%;
    height: 30px;
    background-color: grey;
    padding-top: 15px;
}

#mainNav a {
    text-decoration: none;
    color: black;
}

/* use floats to get things to sit on the same line and be pulled in a certain direction. */
.brand {
    float: left;
    margin-left: 25px;
    font-weight: bold;
}

.navbar-nav {
    float: right;
    margin-right: 25px;
}

.nav-link {
    margin-left: 5px;
    margin-right: 5px;
}

/* 
   End Navbar;
   Begin Header;
*/

header.masthead {
    text-align: center;
    height: 100vh;
    background-image: url(img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

header.masthead > div.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    width: 75%;
}

.masthead h1 {
    font-size: 36pt;
}

.masthead p {
    margin-bottom: 50px;
}

/* 
End Header
Begin About
*/

#about {
    height: 60vh;
    background-color: orangered;
    text-align: center;
    padding-top: 50px;  
    color: white;
}

#about .abt-wrap {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#about .container {
    margin-top: 50px;
}

#about h2 {
    font-weight: 400;
    font-size: 24pt;
}

#about p {
    margin-bottom: 50px;
}

#about hr {
    border-color: white;
}

/* 
  End About
  Begin Services
*/

#services {
  text-align: center;
  height: 400px;
}

#services > #service-heading {
  margin-top: 175px;
}

#services .section-heading {
  font-size: 24pt;
  font-weight: 400;
}

#services .fa {
    color: orangered
}

#services .panel {
  float: left;
  clear: right;
  width: 25%;
}

/*
    End Services
    Begin Portfolio
*/
section#portfolio {
    height: 30rem;
}

.portfolio-box {
    width: 33.33%;
    height: 16rem;
    float: left;
    clear: right;
    background-size: cover;
    overflow: hidden;
}

.portfolio-box#one {
    background-image: url(img/portfolio/thumbnails/1.jpg);
}
.portfolio-box#two {
    background-image: url(img/portfolio/thumbnails/2.jpg);
}
.portfolio-box#three {
    background-image: url(img/portfolio/thumbnails/3.jpg);
}
.portfolio-box#four {
    background-image: url(img/portfolio/thumbnails/4.jpg);
}
.portfolio-box#five {
    background-image: url(img/portfolio/thumbnails/5.jpg);
}
.portfolio-box#six {
    background-image: url(img/portfolio/thumbnails/6.jpg);
}

.portfolio-box > a {
    text-decoration: unset;
}

.portfolio-box:hover > a > .cover {
    visibility: visible;
}

.cover {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    background-color: rgba(64, 72, 125, 0.7);
    background-position: center center;
    height: 100%;
    width: 100%;
    visibility: hidden;
    padding-top: 25%;
}

@media (max-width: 768px) {
    section#portfolio {
        height: 24rem;
    }
    .portfolio-box {
        height: 13rem;
    }
    .cover {
        height: 
    }
}

/* 
    End Portfolio
    Begin Download
*/

section.download {
    background-color: #212529;
    height: 300px;
    text-align: center;
    color: white;
}

.download h2 {
    font-size: 24pt;
    font-weight: 400;
    padding-top: 80px;
}

/*
    End Download
    Begin Contact
*/

#contact {
    text-align: center;
    height: 500px; 
}

.contact-header {
    padding-top: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contact-panel {
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}